*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--bg);

color:var(--text);

font-family:'VT323', monospace;

overflow-x:hidden;

}

a{

text-decoration:none;

color:inherit;

}

button{

font:inherit;

border:none;

cursor:pointer;

}

img{

display:block;

max-width:100%;

}

::selection{

background:var(--primary);

color:white;

}

.app{
    width:min(1700px,96%);
    margin:auto;
}